<div class="col s12 m6">
    <div class="card {{colour}} darken-1">
        <div class="card-content white-text">
            <span class="card-title cardheader">{{title}}</span>
                <p>{{description}}</p>
        </div>
        <div class="card-action">
            <a href="{{link}}">Visit Link</a>
        </div>
    </div>
</div>