<div class="col s12 m6" id="{{cardid}}">
    <div class="card {{colour}} darken-1">
        <div class="card-content white-text">
            <a href='#{{cardid}}'><span class="card-title cardheader">{{title}}</span></a>
                <p class='nomargin'>{{description}}</p>
        </div>
        <div class="card-action cardaction">
{% for linkgroup in links %}
            <a href="{{linkgroup['link']}}">{{linkgroup['linktext'] | default('Visit')}}</a>
{% endfor %}
        </div>
    </div>
</div>