{% for linkgroup in links %}
<div class="col s12 m6" id='{{collectionid}}'>
    <div class="card {{colour}} darken-1">
        <a href="{{linkgroup['link']}}" class='cardheader'>
        <div class="card-action white-text">
            {{linkgroup['linktext']}}
        </div>
        </a>
    </div>
</div>
{% endfor %}