<footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col 8 s12">
                  <h5 class="white-text">Site Contacts</h5>
                  <p class="grey-text text-lighten-4">The resources list are collected from various sources in social media to help 
                      people of assam. Although efforts has been made to verify the authenticity but still might have crept into. Users are requested to verify the sources themselves.By visiting, the site won't be responsible for any misinformation or any other cause.
                      <br> To report any issue , please visit <a href="https://github.com/jptalukdar/covidresourcesassam/issues"> Report Issue </a>
                      <br>Submit Resources here: <a href='submit.html'>Submit</a>
                      <br>See Submitting guide: <a href="https://github.com/jptalukdar/covidresourcesassam#submit-a-new-resource">Submit guide</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2021 <a href="https://github.com/jptalukdar/covidresourcesassam"> Covidresourcesassam </a>
                    <div class='right'>
                    Updated : {{date}} | Commit: <a href="https://github.com/jptalukdar/covidresourcesassam/commit/{{commit}}">{{shortcommit}}</a>
                    </div>
                </div>
              </div>
</footer>