<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{tag}}</title>
        <meta name="description" content="To win the war against Covid 19, this site is created for gathering key information accross social media.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
        <style>
            .header{
                margin: 0;
                pad: 0;
                color: white;
                font-size: 2em;
                font-family: 'Merriweather', serif;
            }
            .cardheader{
                font-family: 'Merriweather', serif;
                color: yellow;
            }
            .cardaction {
                  color: red;
            }
            .nomargin{
                margin: 0;
            }
            a {
                color: #00620b;
                font-weight: bold;
            }
        </style>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZMGDYMDX1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SZMGDYMDX1');
        </script>
    </head>
    <body class='light-blue lighten-5'>
        <nav>
            <div class="nav-wrapper center">
               <p class="header" > <a href="/">COVID RESOURCES ASSAM</a> </p>
            </div>
        </nav>
        <div class="container">
             <div class="row center">
                Resources: {{tag}}
             </div>
            <div class="row center">
                {{CARDS}}
            </div>
        </div>

        {{footer}}
    </body>
</html>