<blockquote class="twitter-tweet"><p lang="in" dir="ltr">Contacts for <a href="https://twitter.com/hashtag/oxygencylinder?src=hash&amp;ref_src=twsrc%5Etfw">#oxygencylinder</a> in Assam:<br>1. Bongaigaon: Vivek Zoarder 9707056937 (Assam Air Products Pvt Ltd)<br>2. Saukuchi, Guwahati: Jibon Chandra Sarma 9864202125 (Assam Air Products Pvt Ltd)<br>3. Dibrugarh/ Tinsukia/ Sivsagar: Deepak Sharma, Manoj Chetry 7727825563, 9435747394</p>&mdash; Samanway Foundation (@samanwayindia) <a href="https://twitter.com/samanwayindia/status/1385824242806099968?ref_src=twsrc%5Etfw">April 24, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>